<h1>Books</h1>
<% books.each do |book| %>
<div>
  <p> <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>Title： <%= link_to book.title, book_path(book) %></p>
  <p>Opinion： <%= book.body %></p>
</div>
<% end %>
